.plugin-file-cover {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.plugin-file-cover .div {
  background-color: #ffffff;
  height: 20709px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.plugin-file-cover .outdoor-glued-poster {
  height: 1014px;
  left: 0;
  position: absolute;
  top: 16655px;
  width: 955px;
}

.plugin-file-cover .img {
  height: 1014px;
  left: 987px;
  position: absolute;
  top: 18719px;
  width: 933px;
}

.plugin-file-cover .delivery-backpack {
  height: 1097px;
  left: 0;
  position: absolute;
  top: 11780px;
  width: 913px;
}

.plugin-file-cover .overlap {
  height: 1608px;
  left: 979px;
  position: absolute;
  top: 4266px;
  width: 941px;
}

.plugin-file-cover .figma-to-lottie {
  height: 574px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 1034px;
  width: 598px;
}

.plugin-file-cover .vector {
  height: 479px;
  left: 660px;
  position: absolute;
  top: 826px;
  width: 281px;
}

.plugin-file-cover .element {
  height: 992px;
  left: 0;
  position: absolute;
  top: 0;
  width: 941px;
}

.plugin-file-cover .overlap-group {
  background-color: #3a3c49;
  height: 826px;
  left: -57px;
  position: absolute;
  top: 1966px;
  width: 1103px;
}

.plugin-file-cover .frame {
  height: 791px;
  left: 83px;
  position: absolute;
  top: 17px;
  width: 982px;
}

.plugin-file-cover .overlap-2 {
  background-color: #e03500;
  height: 957px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1932px;
}

.plugin-file-cover .frame-2 {
  height: 109px;
  left: 168px;
  position: absolute;
  top: 150px;
  width: 637px;
}

.plugin-file-cover .group {
  height: 172px;
  left: 147px;
  position: absolute;
  top: 785px;
  width: 326px;
}

.plugin-file-cover .group-2 {
  height: 151px;
  left: 192px;
  position: absolute;
  top: 390px;
  width: 448px;
}

.plugin-file-cover .overlap-group-2 {
  height: 151px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 428px;
}

.plugin-file-cover .text-wrapper {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 89.9px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.plugin-file-cover .text-wrapper-2 {
  color: #000000;
  font-family: "Outfit", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 101px;
}

.plugin-file-cover .rectangle {
  background-color: #ffffff;
  height: 115px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 9px;
}

.plugin-file-cover .frame-3 {
  height: 74px;
  left: 437px;
  position: absolute;
  top: 1403px;
  width: 419px;
}

.plugin-file-cover .frame-4 {
  height: 74px;
  left: 1310px;
  position: absolute;
  top: 1399px;
  width: 419px;
}

.plugin-file-cover .frame-5 {
  height: 118px;
  left: 278px;
  position: absolute;
  top: 1381px;
  width: 123px;
}

.plugin-file-cover .overlap-3 {
  height: 826px;
  left: 205px;
  position: absolute;
  top: 4432px;
  width: 774px;
}

.plugin-file-cover .figma-to-lottie-2 {
  height: 606px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 634px;
}

.plugin-file-cover .vector-2 {
  height: 285px;
  left: 489px;
  position: absolute;
  top: 541px;
  width: 285px;
}

.plugin-file-cover .element-2 {
  height: 992px;
  left: 0;
  position: absolute;
  top: 5258px;
  width: 979px;
}

.plugin-file-cover .glued-paper-banner {
  height: 1438px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2810px;
  width: 1920px;
}

.plugin-file-cover .frame-6 {
  height: 791px;
  left: 26px;
  position: absolute;
  top: 7251px;
  width: 982px;
}

.plugin-file-cover .billboard-one-the {
  height: 965px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6268px;
  width: 1920px;
}

.plugin-file-cover .poster-on-bus-stop {
  height: 826px;
  left: 1046px;
  position: absolute;
  top: 1966px;
  width: 874px;
}

.plugin-file-cover .untitled {
  height: 791px;
  left: 1035px;
  position: absolute;
  top: 7251px;
  width: 885px;
}

.plugin-file-cover .business-card-on {
  height: 1004px;
  left: 0;
  position: absolute;
  top: 8069px;
  width: 1920px;
}

.plugin-file-cover .overlap-4 {
  background-color: #e03500;
  height: 532px;
  left: -3px;
  position: absolute;
  top: 9100px;
  width: 1923px;
}

.plugin-file-cover .text-wrapper-3 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 255.9px;
  font-weight: 900;
  left: 295px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 275px;
  white-space: nowrap;
  width: 166px;
}

.plugin-file-cover .group-3 {
  height: 172px;
  left: 64px;
  position: absolute;
  top: 360px;
  width: 203px;
}

.plugin-file-cover .overlap-wrapper {
  height: 532px;
  left: -103px;
  position: absolute;
  top: 15140px;
  width: 2218px;
}

.plugin-file-cover .overlap-5 {
  background-color: #e03500;
  height: 532px;
  position: relative;
  width: 2216px;
}

.plugin-file-cover .text-wrapper-4 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 255.9px;
  font-weight: 900;
  left: 430px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 276px;
  white-space: nowrap;
  width: 160px;
}

.plugin-file-cover .group-4 {
  height: 172px;
  left: 207px;
  position: absolute;
  top: 360px;
  width: 196px;
}

.plugin-file-cover .frame-7 {
  height: 177px;
  left: 616px;
  position: absolute;
  top: 16075px;
  width: 613px;
}

.plugin-file-cover .overlap-6 {
  height: 324px;
  left: 596px;
  position: absolute;
  top: 9957px;
  width: 555px;
}

.plugin-file-cover .frame-8 {
  height: 264px;
  left: 42px;
  position: absolute;
  top: 30px;
  width: 513px;
}

.plugin-file-cover .figma-to-lottie-3 {
  height: 324px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 330px;
}

.plugin-file-cover .overlap-group-wrapper {
  height: 955px;
  left: -22px;
  position: absolute;
  top: 19754px;
  width: 1964px;
}

.plugin-file-cover .overlap-7 {
  background-image: url(https://c.animaapp.com/gGV37kG3/img/rectangle-9.png);
  background-size: 100% 100%;
  height: 955px;
  left: 22px;
  position: relative;
  width: 1920px;
}

.plugin-file-cover .group-5 {
  height: 267px;
  left: 1329px;
  position: absolute;
  top: 604px;
  width: 514px;
}

.plugin-file-cover .frame-9 {
  height: 346px;
  left: 0;
  position: absolute;
  top: 201px;
  width: 769px;
}

.plugin-file-cover .frame-10 {
  height: 281px;
  left: 1152px;
  position: absolute;
  top: 5916px;
  width: 663px;
}

.plugin-file-cover .frame-11 {
  height: 114px;
  left: 1103px;
  position: absolute;
  top: 1381px;
  width: 175px;
}

.plugin-file-cover .women-t-shirt-PSD {
  height: 1097px;
  left: 0;
  position: absolute;
  top: 10660px;
  width: 913px;
}

.plugin-file-cover .city-poster-mockup {
  height: 2217px;
  left: 942px;
  object-fit: cover;
  position: absolute;
  top: 10660px;
  width: 978px;
}

.plugin-file-cover .coffee-cup-in-women {
  height: 1097px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12900px;
  width: 1920px;
}

.plugin-file-cover .linen-backpack {
  height: 1097px;
  left: 0;
  position: absolute;
  top: 14020px;
  width: 987px;
}

.plugin-file-cover .untitled-2 {
  height: 1097px;
  left: 1018px;
  position: absolute;
  top: 14020px;
  width: 902px;
}

.plugin-file-cover .men-holding-canvas {
  height: 998px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 17695px;
  width: 1920px;
}

.plugin-file-cover .food-container {
  height: 1014px;
  left: 987px;
  position: absolute;
  top: 16655px;
  width: 933px;
}

.plugin-file-cover .two-ceramic-mug {
  height: 1014px;
  left: 0;
  position: absolute;
  top: 18719px;
  width: 955px;
}
